<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Fixerra Automation Suite"
       parallel="false"
       verbose="2">

    <listeners>
        <listener class-name="com.framework.listeners.TestListener"/>
        <listener class-name="com.framework.listeners.RetryTransformer"/>
    </listeners>

    <test name="Fixerra API Tests">
        <groups>
            <run>
                <include name="api"/>
            </run>
        </groups>
        <classes>
            <class name="com.tests.api.FixerraAuthAPITest"/>
        </classes>
    </test>

    <test name="Fixerra Web Tests">
        <groups>
            <run>
                <include name="web"/>
            </run>
        </groups>
        <classes>
            <class name="com.tests.web.LoginTest"/>
            <class name="com.tests.web.SmokeTest"/>
        </classes>
    </test>

</suite>
